.forgot-bg {
    background: url(../img/forgotpassword_bg.png) no-repeat;
    background-size: cover;
    height: 1628px;
    display: flex;
    flex: 0.5;
}
.forgot-form {
    height: 100%;
    flex-direction: column;
    flex: 0.5;
}
.navbar {
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 4rem;
}
.style1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
}
.style2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 50px;
}
.style3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}